.App {
    padding: 30px;
    padding-right: 0px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.header-container {
    display: flex;
    align-items: center;
}
.search-button {
    background-color: #00CED1;
    border-color: #00CED1; 
    color:black;
}


.logo {
    margin-right: 20px;
}

.text {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    
    color: white;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container input {
    width: 70%; 
    margin-right: 10px; 
    color: black;
}

